.App {
  text-align: center;
  background-image: green;
}



.body {
  background-color: #8cb68c;

}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
